@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.primary-color {
  color: #D81159;
}
.primary-background-color {
  background-color: #D81159;
}
.dark-primary-color {
  color: #8F2D56;
}
.dark-primary-background-color {
  background-color: #8F2D56;
}
.secondary-color {
  color: #73D2DE;
}
.secondary-background-color {
  background-color: #73D2DE;
}
.dark-secondary-color {
  color: #218380;
}
.dark-secondary-background-color {
  background-color: #218380;
}
.accent-color {
  color: #FBB13C;
}
.accent-background-color {
  background-color: #FBB13C;
}



html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
  color: #222;
  font-weight: 200;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: #218380;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #000;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
